ApplicationCore/bin/
ApplicationCore/obj/
Infrastructure/bin/
Infrastructure/obj/
Infrastructure/Migrations/
WebApi/bin/
WebApi/obj/
.vs/

# NLog files
logs/
*.log
tests/WebApiTemplate.ApiTests/obj
tests/WebApiTemplate.IntegrationTests/bin/Debug/net10.0
tests/WebApiTemplate.IntegrationTests/obj
tests/WebApiTemplate.TestFixtures/bin/Debug/net10.0
tests/WebApiTemplate.TestFixtures/obj
tests/WebApiTemplate.UnitTests/bin/Debug/net10.0
tests/WebApiTemplate.UnitTests/obj
tests/WebApiTemplate.ApiTests/bin/Debug/net10.0
.claude/settings.local.json
/WebApi/.vs
/.config/dotnet-tools.json
